backend/node_modules
backend/.env

frontend/node_modules
frontend/build
frontend/.env
frontend/*.log

tindev/node_modules
tindev/build/
tindev/*.pbxuser
tindev/!default.pbxuser
tindev/*.mode1v3
tindev/!default.mode1v3
tindev/*.mode2v3
tindev/!default.mode2v3
tindev/*.perspectivev3
tindev/!default.perspectivev3
tindev/xcuserdata
tindev/*.xccheckout
tindev/*.moved-aside
tindev/DerivedData
tindev/*.hmap
tindev/*.ipa
tindev/*.xcuserstate
tindev/project.xcworkspace

tindev/android/app/build
tindev/build
tindev/.idea
tindev/android/.gradle
tindev/local.properties
tindev/*.iml

tindev/buck-out/
tindev/.buckd
tindev/*.keystore

tindev/*/fastlane/report.xml
tindev/*/fastlane/Preview.html
tindev/*/fastlane/screenshots

tindev/*.jsbundle

tindev/ios/Pods/

tindev/env.js

